.addInnerBlockClass{
    position: absolute;
width: 53vw;
height: 70vh;
left: 9vw;
top: 10vh;
background: #FFFFFF;
border-radius: 8px;
}
.year_head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    margin-left:1.5vw;
    background:none;
    position:absolute;
    top:24.3vh;
}
.sec_head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    margin-left:1.5vw;
    background:none;
    position:absolute;
    top:34vh;
}
.class_head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    margin-left:1.5vw;
    background:none;
    position:absolute;
    top:44.2vh;
}
#dept{
    font-size: 1.1rem;
}
.dept_head_input{
    box-sizing: border-box;
    position: absolute;
    width: 19vw;
    height: 5vh;
    margin-left: 10.3vw;
    top: 28vh;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
#class-name{
    text-transform: uppercase;
}
.class_year_input{
    box-sizing: border-box;
    position: absolute;
    width: 19vw;
    height: 5vh;
    margin-left: 1.5vw;
    top: 28vh;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.sec_head_input{
    box-sizing: border-box;
    position: absolute;
    width: 19vw;
    height: 5vh;
    margin-left: 1.5vw;
    top: 37.8vh;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.class_head_input{
    box-sizing: border-box;
    position: absolute;
    width: 19vw;
    height: 5vh;
    margin-left: 1.5vw;
    top: 47.8vh;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
#class_add{
position:absolute;
top:55.5vh;
}
#class_cancel{
    position:absolute;
    top:63vh;
}
.classAddDept{
    font-size:1rem;
   margin-top:-4vh;
   margin-left:0.5vw;
    background:none;
}