#new-pass {
  position: absolute;
  width: 220px;
  height: 20px;
  left: 56vw;
  top: 36vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: none;
}

#new-pass-input {
  box-sizing: border-box;
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 56vw;
  top: 40vh;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left:20px;
}

#confirm-pass {
  position: absolute;
  width: 190px;
  height: 20px;
  left: 56vw;
  top: 51vh;
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

#confirm-pass-input {
  box-sizing: border-box;
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 56vw;
  top: 55.3vh;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left:20px;
}

#btn-reset {
  box-sizing: border-box;
  font-family: "Montserrat";
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 56vw;
  top: 68vh;
  background: #6c63ff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

#btn-reset:hover {
  background: #7971ff;
}

#btn-reset:active {
  transform: scale(0.99);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
#wrongpass {
  position: relative;
  width: 5vw;
  height: 5vh;
  left:50vw;
  top:20vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  background-color: white;
  color: #ff0000;
  display: none;
}
