#new-pass {

    position: absolute;
    width: 220px;
    height: 20px;
    left: 800px;
    top: 281px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

#new-pass-input {
    box-sizing: border-box;

    position: absolute;
    width: 384px;
    height: 54px;
    left: 800px;
    top: 317px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

#confirm-pass {
    position: absolute;
    width: 190px;
    height: 20px;
    left: 800px;
    top: 404px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;

}

#confirm-pass-input {
    box-sizing: border-box;

    position: absolute;
    width: 384px;
    height: 54px;
    left: 800px;
    top: 448px;
    background-color: white;

    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

#btn-reset {
    box-sizing: border-box;
    font-family: 'Montserrat';
    position: absolute;
    width: 384px;
    height: 54px;
    left: 800px;
    top: 545px;

    background: #6C63FF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

#btn-reset:hover {
    background: #7971ff;
}

#btn-reset:active {
    transform: scale(0.99);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}