body {
    overflow-x: hidden;
}
.attend{
    background-color: #FFFFFF;
    height:80vh;
    width:67vw;
    position: absolute;
left: 27.8vw;
top: 18vh;
border-radius: 15px;
}
.dbAttend{
    position: absolute;
width: 40vw;
height: 5vh;
left: 28vw;
top: 11vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
background: none;
}
.attendTable{
    width:65vw;
    margin-top: 10vh;
     margin-left:1vw;
    /* margin-right: 1vw; */
}
.attendTable td {
    text-align: center;
    border: 1px solid #FFFFFF;
height: 9vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #000000;
}
.attendRow2 td{
    background: #D9D9D9;
border: 1px solid #FFFFFF;
height: 9vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #000000;
}
.attendHead{
    position:absolute;
    top:1vh;
    left:1vw;
    box-sizing: border-box;
height:9vh;
border-radius: 8px 8px 0px 0px;
background: none;
background-color: #6C63FF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
text-align: center;
padding-top: 2vh;
width:65vw;
}
.attendData{
    width:10vw;
}
.attendSub {
    width:17.5vw;
}
.attendPer{
    width:17.5vw;
}
/* .SAttendCardCall1{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    background: none;
}
#SCdCode{
    background: none;
    margin-left:2vw;
    font-size: 0.9rem;
    color:black;
}
#SCdAttend{
    background: none;
    margin-left:10vw;
    font-size: 0.9rem;
    color:black;
}
#SCdTotal{
    background: none;
    margin-left:5.5vw;
    font-size: 0.9rem;
    color:black;
}
#SCdAttendPer{
    background: none;
    margin-left:5.5vw;
    font-size: 0.9rem;
    color:black;
}
#SCdSub{
    background: none;
    margin-left:7vw;
    width:10vw;
    font-size: 0.85rem;
    color:black;
} */
.tableSub {
   background-color: #FFFFFF;
    height:130vh;
    width:67vw;
    position: absolute;
left: 27.8vw;
top: 18vh;
border-radius: 15px;
}
.attendTable2 td{
    text-align: center;
    border: 1px solid #FFFFFF;
height: 7.5vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #000000;
}
.attendTableResponse td {
        text-align: center;
        border: 1px solid #FFFFFF;
    /* height: 5vh; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.attendHead2{
    box-sizing: border-box;
    height:9vh;
    border-radius: 8px 8px 0px 0px;
    background: none;
    background-color: #6C63FF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
}
.attendTable2{
    width:65vw;
    margin-top: 3vh;
     margin-left:1vw;
}
.attendEachSub{
    box-sizing: border-box;
    height:9vh;
  background: none;
    background-color:#EEF1FF;;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}
.month{
background-color: #D9D9D9;
width:15vw;
}
.date{
    background-color: #D9D9D9;  
    width:25vw;
}
.status{
    background-color: #D9D9D9;
    width:20vw;
}
.subjectResponse , .class , .responseAttend {
    background-color: #D9D9D9;
}
.monthList{
    display:none;
}
.monthList ul {
    list-style: none;
    box-sizing: border-box;
position: absolute;
width: 15.8vw;
height: 74.5vh;
left: 28.9vw;
top: 43.5vh;
background: none;
background-color: #FFFFFF;
border: 0.5px solid #D9D9D9;
border-radius: 0px 0px 8px 8px;
}
.monthList ul li {
    margin-top: 2.5vh;
   margin-left: 4.5vw; 
    background: none;
background-color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
.arrow {
    z-index:5;
    position:absolute;
    top:21.1vh;
    left:15vw;
    background:none;
    width:13px;
}
.progress {
    z-index: 3;
    box-sizing: border-box;
    width:14vw;
    height:4.5vh;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    position:absolute;
    top:21vh;
    left:50vw;
}
#bar2{
    top:45vh;
}
.progressBar {
    z-index: 5;
    box-sizing: border-box;
    width:10vw;
height:4.4vh;
    background-color: #62DDB0;
border-radius: 4px;
position:absolute;
top:0vh;
left:0vw;
}
.responsiveTable {
    display:none;
}
 @media (max-width:1000px) {
    .dbAttend{
        font-size: 1.3rem;
        width:140vw;
        position:absolute;
        left:7vw;
        top:23vh;
    }
    .tableSub{
        top:20vh;
        left:5vw;
        width:0vw;
    }
    .monthList ul{
        left:12.5vw;
        width:18.5vw;
        top:83vh;
    }
    .monthList ul li {
        font-size: 1.1rem;
        margin-left:2vw;
    }
    .attendHead2{
position:absolute;
top:-46vh;
padding-top:2vh;
width:78vw;
height:9vh;
    }
    .attendTable2{
        position:absolute;
        top:45vh;
        width:75vw;
        height:90vh;
    }
    .attendTable2 td{
        font-size: 1.2rem;
    }
    .arrow{
        position:absolute;
        top:58.6vh;
        left:16.5vw;
    }
    .attend{
        top:22vh;
        left:2vw;
        width:0vw;
    }
    .attendTable{
        display:none;
    }
    .responsiveTable {
        display:block;
        width:0vw;
    }
    .attendTableResponse{
        position:absolute;
        top:60vh;
        left:4vw;
        width:94vw;
        height:80vh;
    }
    .attendTableResponse td {
        font-size: 1.2rem;
        /* width:26vw;
        height:5vh; */
        /* padding:2px; */
    }
    /* .subjectResponse { */
        /* width:20vw; */
    /* } */
    .attendHead{
        position:absolute;
        top:2vh;
        padding-top:2vh;
        width:96vw;
        height:9vh;
    }
           
}
@media (max-width:645px) {
.monthList ul li{
    font-size:0.9rem;
}
} 
@media (max-width:420px){
    body{
        overflow-x:scroll;
        width:0vw;
        height:140vh;
    }
    .dbAttend{
        font-size: 1.7rem;
        width:90vw;
        position:absolute;
        left:5vw;
        top:16vh;
    }
    .tableSub {
        width:120vw;
        height:134vh;
        margin-right:50px;
    }
    .attendTable2{
        top:35vh;
        width:118vw;
    }
    .attendTable2 td{
        height:7vh;
    }
    .attendHead2{
        top:-36vh;
        width:118vw;
    }
    .monthList ul{
        width:28vw;
        top:78vh;
        height:69vh;
    }
    .arrow {
        top:53.9vh;
        left:24.7vw;
        width:12px;
    }
    .attend {
        width:120vw;
        height:134vh;
        margin-right:50px;
    }
    .attendTableResponse{
        width:116vw;
    }
   .attendHead{
        width:116vw;
        left:2vw;
    }
    .attendTableResponse td{
        width:8vw;
        height:4vh;
        font-size: 1.5rem;
        padding:0;
    }
}
@media (min-width:768px) and (max-width:920px) {
    .attendTable2{
        top:25vh;
    }
    .dbAttend{
        font-size: 2.3rem;
        width:90vw;
        position:absolute;
        left:3vw;
        top:15.4vh;
    }
    .attendHead2{
        top:-27vh;
    }
    .attendTable2 td {
        font-size:1.3rem;
    }
    .attendHead2 td{
        padding-top:3vh;
    }
    .monthList ul{
        top:63vh;
    }
    .monthList ul li {
        font-size: 1.4rem;
    }
    .arrow {
        top:38.8vh;
    }
    .responsiveTable{
        z-index:2;
        background-color: white;
        width:96vw;
        height:116vh;
        margin-bottom: 10px;
        position:absolute;
        top:20vh;
        left:2vw;
    }
    .attendTableResponse{
        z-index:3;
        position:absolute;
        top:30vh;
        left:1vw;
        width:94vw;
    }
    .attendTableResponse td {
        height:10vh;
        font-size:1.6rem;
    }
    .attendHead {
        z-index:5;
        position:absolute;
        top:0vh;
        left:1vw;
    }
}
@media (max-width:912px) and (min-width:912px) {
    .attendTable2 td{
        font-size: 1.8rem;
    }
    .attendHead2{
        padding-top:3vh;
    }
    .arrow {
        top:39vh;
    }
}
@media (min-width:280px) and (max-width:280px){
    .monthList ul {
        width:35vw;
    }
    .arrow {
      left:30.5vw;
    }
    .dbAttend{
        font-size: 1.35rem;
        width:90vw;
        position:absolute;
        left:7vw;
        top:2vh;
    }
    .attendTableResponse td{
        font-size: 1rem;
        height:10vh;
    }
}
@media (min-width:412px) and (max-width:412px) {
    .arrow {
        top:54vh;
    }
}
@media (min-width:540px) and (max-width:540px) {
    .responsiveTable{
        z-index:2;
        background-color: white;
        width:138vw;
        height:116vh;
        margin-bottom: 10px;
        position:absolute;
        top:20vh;
        left:2vw;
    }
    .attendTableResponse{
        z-index:3;
        position:absolute;
        top:30vh;
        left:1vw;
        width:136vw;
    }
    .attendTableResponse td {
        height:10vh;
        font-size:1.3rem;
    }
    .attendHead {
        z-index:5;
        position:absolute;
        top:-18vh;
        left:1vw;
        width:136vw;
    }
    .dbAttend{
        font-size: 1.4rem;
        width:60w;
        position:absolute;
        left:3vw;
        top:14vh;
    }
}
