#UpdateEmailDiv {
    position: absolute;
    top: 15vh;
    z-index: 5;
}

.updateEmail {
    position: absolute;
    top: 22vh;
    left: 6.5vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    background: none;
    font-size: 1.2rem;
    line-height: 20px;
    color: #252525;
    height: 4vh;

}
.CHNGEMAIL{
    background-color: #ffffff;
    position: absolute;
    width: 68vw;
    height: 70vh;
    left: 25vw;
    top: 18vh;
    border-radius: 15px;
}

.emailInput {
    box-sizing: border-box;
    position: absolute;
    top: 26vh;
    left: 6.5vw;
    width: 45vw;
    height: 6vh;
    opacity: 0.48;
    padding-left: 1vw;
    border: 1px solid #000000;
    border-radius: 4px;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212427;
}

::placeholder {
    color: #212427;
}

.EmailImg {
    position: absolute;
    width: 16vw;
    height: 30vh;
    left: 24vw;
    top: 36vh;
    background: none;
}

.emailButton {
    position: absolute;
    font-family: 'Montserrat';
    width: 6vw;
    height: 6vh;
    left: 53.5vw;
    top: 26vh;
    border: none;
    background: #6C63FF;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
}

.emailMsgShow {
    position: absolute;
    top: 60vh;
    left: 45vw;
    width: 30vw;
    font-size: 1rem;
    color: red;
    font-family: "Montserrat";
}

#update_email_otp_input {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 44.6vh;
    left: 6.5vw;
    width: 25vw;
    height: 6vh;
    opacity: 0.48;
    padding-left: 1vw;
    border: 1px solid #000000;
    border-radius: 4px;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212427;

}
#send_otp_info{
    position: absolute;
width: 25vw;
height: 20px;
left: 6.5vw;
top: 38vh;
display: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.1rem;
line-height: 20px;
/* identical to box height */
background-color: white;

color: #252525;
}
#wrongUpdEmail{
    position: absolute;
    width: 351px;
    height: 34px;
    left:6.5vw;
    top: 32.6vh;
    /* padding-left:6vh; */
  background: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background:none;
  
    color: #ff0000;
    /* display: none; */
}
#update_email_otp_btn {
position: absolute;
width: 80px;
height: 40px;
left: 6.5vw;
top: 55vh;
border: none;
background: #6C63FF;
border-radius: 8px;
color: white;
font-size: 1rem;
display: none;
}

@media(min-width:350px) and (max-width:920px) {
    .updateEmail {
        position: absolute;
        top: 13vh;
    }

    .emailInput {
        width: 64vw;
        height: 5vh;
        top: 17vh;
    }

    .updateEmailImg {
        width: 45vw;
        height: 37vh;
        top: 25vh;
        left: 20vw;
    }

    .updateGreyRow {
        position: absolute;
        left: 0vh;
        top: 5vh;
        z-index: 20;
    }

    .emailButton {
        width: 14vw;
        height: 4vh;
        top: 30vh;
        left: 59vw;
    }
}

@media (min-width:810px) and (max-width:920px) {
    #UpdateEmailDiv {
        width: 72vw;
        height: 50vh;
        position: absolute;
        left: 23vw;
    }

    .updateEmail {
        top: 10vh;
        left: 10vw;
        font-size: 1.5rem;
    }

    .emailInput {
        top: 13vh;
        width: 55vw;
        height: 4.7vh;
    }

    .updateEmailImg {
        width: 25vw;
        height: 20vh;
        top: 22vh;
        left: 25vw;
    }

    .emailButton {
        top: 20vh;
        left: 55vw;
        width: 9vw;
        font-size: 1rem;
    }
}