.AUTHENTICATION {
  overflow: hidden;
}
#new-pass {
  position: absolute;
  width: 10vw;
  height: 2.6vh;
  left: 56vw;
  top: 37vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #000000;
  background: none;
}

#new-pass-input {
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 56vw;
  top: 40vh;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 16px;
}

#confirm-pass {
  position: absolute;
  width: 190px;
  height: 20px;
  left: 56vw;
  top:53.5vh;
  /* top: 56.7vh; */
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

#confirm-pass-input {
  box-sizing: border-box;
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 56vw;
  top:57vh;
  /* top: 60vh; */
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left: 20px;
  font-size:16px;
  cursor:pointer;
}

#btn-reset {
  box-sizing: border-box;
  font-family: "Montserrat";
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 56vw;
  top:70vh;
  /* top: 73vh; */
  font-size: 16px;
  background: #6c63ff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

#btn-reset:hover {
  background: #7971ff;
}

#btn-reset:active {
  transform: scale(0.99);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
#wrongpass1 {
  position: absolute;
  width: 26vw;
  height: 3vh;
  left: 56vw;
  top: 46.5vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  background-color: white;
  color: #ff0000;
  display: none;
}
#passMatch {
  position: absolute;
  width: 25vw;
  height: 5vh;
  left: 56vw;
  top:63vh;
  /* top: 66.5vh; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  background: none;
  color: #ff0000;
  display: none;
}
#pEye1 {
  position:absolute;
  top:42vh;
  left:79.5vw;
  background: none;
}
#pEye2 {
  position:absolute;
  /* top:62vh; */
  top:59vh;
  left:79.5vw;
  background: none;
}
#pwdMsg {
  position: absolute;
  width: 22vw;
  /* height: 20vh; */
  left: 63vw;
  top: 78vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  color: #ff0000;
  background: none;
}
@media (max-width:380px) {
  .AUTHENTICATION  {
    overflow: hidden;
  }
  #new-pass-input {
    position: absolute;
    width: 73vw;
    height: 7.5vh;
    left: 15vw;
    top: 37vh;
  }
#pEye1{
    top: 40vh;
  }
#pEye2{
    top: 61.2vh;
  }
  #confirm-pass-input{
    position: absolute;
    width: 73vw;
    height: 7.5vh;
    left: 15vw;
    top: 58.5vh;
  }
  #new-pass {
    position: absolute;
    width:75vw;
    top: 34vh;
    left: 15vw;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }
  #confirm-pass {
    position: absolute;
    top: 55vh;
    left: 15vw;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }
  #btn-reset {
    position: absolute;
    width: 73vw;
    height: 7.5vh;
    left: 15vw;
    top: 72vh;
    background: #6c63ff;
    border-radius: 5px;
  }
  #wrongpass1 {
    top:45vh;
    left:15vw;
    width:73.85vw;
    background: none;
  }
  #passMatch {
    top:66.2vh;
    width:70vw;
    /* height:10vh; */
    left:15vw;
  }
  .BgHead {
    top:25vh;
    font-size:7px;
    margin-left:-30px;
    font-weight:600;
  }
  #pwdMsg{
    left:29vw;
    top:80vh;
    width:70vw;
  }
  #RESET{
    font-size:1.6rem;
    left:18vw;
    top:25vh;
    width:70vw;
    line-height: 20px;
  }
}
@media (min-width:380px) and (max-width:950px) {
  .AUTHENTICATION {
    overflow: hidden;
  }
  #new-pass-input {
    width: 73vw;
    height: 54px;
    left: 15vw;
    top: 39vh;
  }
  #confirm-pass-input{
    width: 73vw;
    height: 54px;
    left: 15vw;
    top: 54.5vh;
  }
  #pEye1{
    top: 41vh;
  }
#pEye2{
    top: 56.4vh;
  }
  #new-pass {
    top: 36vh;
    left: 15.4vw;
   width: 70vw;
    font-weight: 600;
    font-size: 16px;
  }
  #confirm-pass {
    top: 52vh;
    left: 15.4vw;
     width: 40vw;
    font-weight: 600;
    font-size: 16px;
  }
  #btn-reset {
    width: 73vw;
    height: 54px;
    left: 15vw;
    top: 67vh;
    background: #6c63ff;
    border-radius: 5px;
  }
  .BgHead {
    width:100vw;
    height:10vh;
    left:3vw;
    top:23vh;
  }
  #wrongpass1 {
    top:45.5vh;
    left:15vw;
    width:73.85vw;
    background: none;
  }
  #passMatch {
    top:61vh;
    width:70vw;
    /* height:10vh; */
    left:15vw;
  }
  #RESET{
    font-size:1.68rem;
    left:13vw;
    top:25vh;
    width:70vw;
    line-height: 20px;
  }
  #pwdMsg{
    left:25vw;
    font-size: 1.2rem;
    top:74vh;
    width:70vw;
  }
}
@media (min-width:360px) and (max-width:360px) {
  #RESET{
    font-size:1.6rem;
    left:17vw;
    top:25vh;
    width:90vw;
    line-height: 20px;
  } 
}
@media (min-width:768px) and (max-width:913px) {
  #new-pass{
font-size: 1.3rem;
top:36.5vh;
  }
  #pwdMsg{
    font-size: 1.5rem;
  }
  #passMatch{
    font-size: 1.3rem;
    top:62.5vh;
  }
  #wrongpass1{
    font-size: 1.3rem;
    top:45.5vh;
    line-height:23px;
  }
  #confirm-pass{
    font-size: 1.3rem;
    top:53.5vh;
  }
  #pEye1{
    left:83vw;
    top:41vh;
  }
  #pEye2{
    left:83vw;
    top:58.6vh;
  }
  #new-pass-input {
    height:6vh;
    font-size: 1.3rem;
  }
  #confirm-pass-input {
    height:6vh;
    top:56vh;
    font-size: 1.3rem;
}
#btn-reset{
  height:6vh;
  font-size: 1.3rem;
}
#pwdMsg{
  left:34vw;
  top:75vh;
}
#RESET{
  font-size:2.4rem;
  left:25vw;
  top:25vh;
  width:70vw;
  line-height: 20px;
} 
}
@media (min-width:912px) and (max-width:912px){
  #RESET{
    font-size:2.7rem;
    left:25vw;
    top:25vh;
    width:60vw;
    line-height: 20px;
  } 
}
@media (min-width:540px) and (max-width:540px){
  #RESET{
    font-size:2rem;
    left:18vw;
    top:25vh;
    width:60vw;
    line-height: 20px;
  } 
  #wrongpass1{
top:46.5vh;
  }
  #confirm-pass{
top:55vh;
  }
  #confirm-pass-input{
    top:58vh;
  }
  #pEye1{
top:42vh;
  }
  #pEye2{
top:61vh;
  }
  #passMatch{
top:65.5vh;
  }
  #btn-reset{
    top:72vh;
  }
  #pwdMsg{
    left:34vw;
    top:80vh;
  }
}
@media(min-width:280px) and (max-width:280px) {
  #pEye1 , #pEye2{
    left:77vw;
    width:15px;
  }
  #pwdMsg{
    left:31vw;
  }
  #RESET{
    font-size:1.4rem;
    left:14vw;
    top:25vh;
    width:80vw;
  }
}