.adminAddOuterBlock{
    width:65vw;
    height:fit-content;
    position:absolute;
    top:10vh;
    left:24vw;
    background: #FFFFFF;
border-radius: 8px;
}
.adminBlueRow{
    position:relative;
    top:4vh;
    left:1.5vw;
    text-align:center;
    padding-top:2vh;
    height:7vh;
    width:62vw;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.2rem;
line-height: 20px;
color: #FFFFFF;
background: #6C63FF;
border-radius: 8px;
}
.AdminAddOutBlock{
    height:50vh;
    width:62vw;
    position:relative;
    top:8vh;
    left:1.5vw;
    background: #EEF1FF;
border-radius: 8px;
margin-bottom:5vh;
}
.department{
    box-sizing: border-box;
position: relative;
top:1.5vh;
left:1.5vh;
width: 12vw;
height: 5vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 20px;
background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 4px;
text-align: center;
padding-top:0.8vh;

}
.addDept{
    float:right;
    box-sizing: border-box;
    position: relative;
    top:-3.2vh;
   right:1.2vw;
    width: 12vw;
    height: 5.2vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    text-align: center;
    text-align: center;
padding-top:0.8vh;
}
.deptList{
    display:flex;
    flex-wrap: wrap;
    background:none;
    margin-top:5vh;
    justify-content: space-between;
}
.AdmWhiteCompField{
    box-sizing: border-box;
    width: 14vw;
    height: 5.2vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    text-align: center;
padding-top:0.8vh;
}
.addInnerBlock{
    position: absolute;
width: 45vw;
height: 50vh;
left: 11.5vw;
top: 10vh;
background: #FFFFFF;
border-radius: 8px;
}
.add-new-dept{
    width:42vw;
    height:8vh;
    background:none;
  margin-top:6vh;
margin-left:1.5vw;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.5rem;
line-height: 22px;
}
.dept_head{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 1.3rem;
line-height: 22px;
margin-left:1.5vw;
background:none;
}
.dept_head_input{
    box-sizing: border-box;

position: absolute;
width: 19vw;
height: 5vh;
margin-left: 1.5vw;
top: 19vh;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;
}
.cancel_add_dept{
    background: #6C63FF;
border-radius: 8px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
width: 19vw;
height: 5.2vh;
margin-left: 1.5vw;
position:absolute;
top:27vh;
border:0.5px solid black;
}
.done_add_dept{
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #FFFFFF;
    width: 19vw;
    height: 5.2vh;
    margin-left: 1.5vw;
    position:absolute;
    top:35vh;
    border:0.5px solid black;
}