.FooterDiv{
    position:absolute;
    top:82vh;
    left:1vw;
    width:16vw;
    height:15vh;
   background: white;
   z-index: 10;
   position:fixed;
}
.footerHead{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #6C63FF;
    background-color:white;
}
.footerPara{
    margin-top:1.5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 18px;
    color: #000000;
    background:none;
}
    .privacy{
        background:white; 
         margin-top:1.5vh;
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 18px;
        color: #000000;
        font-family: 'Montserrat';
        font-style: normal;
}
.agreement{
    background:white; 
    margin-top:1.5vh;
   font-weight: 400;
   font-size: 0.7rem;
   line-height: 18px;
   color: #000000;
   margin-left:6.5vw;
   margin-top:-4vh;
   font-family: 'Montserrat';
   font-style: normal;
}
@media (min-width:200px) and (max-width:920px) {
    .FooterDiv{
        width:100vw;
        height:20vh;
        position:absolute;
        left:0vw;
        position:fixed;
    }
    .footerHead{
        padding-top: 2vh;
        padding-left: 3vw;
    }
    .footerPara{
        padding-left: 3vw;
    }
}
