.AUTHENTICATION {
  overflow: hidden;
}
#inputBox {
  box-sizing: border-box;
  font-family: "Montserrat";
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 55vw;
  top: 48vh;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left: 7.5vh;
background-color: white;
outline-color: #6c63ff;
cursor:pointer;
}

#btnContinue {
  box-sizing: border-box;
  font-size: 1.1rem;
  position: absolute;
  width: 26vw;
  height: 7vh;
  left: 55vw;
  top: 60vh;
  letter-spacing: 1px;
  background: #6c63ff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
#btnContinue:hover {
  background: #7971ff;
}

#btnContinue:active {
  transform: scale(0.99);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#wrongemail {
  position: absolute;
  width: 351px;
  height: 34px;
  left:55.5vw;
  top: 55.5vh;
  /* padding-left:6vh; */
background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  background-color: white;

  color: #ff0000;
  display: none;
}
#pwdHead {
  position: absolute;
  width: 26vw;
  top: 39vh;
  left: 55vw;
  color: black;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  background: none;
}
#emailIcon {
  background: none;
  width: 25px;
  height: 19px;
  position: absolute;
  z-index: 5;
  top: 49.7vh;
  left: 56vw;
}
#bghead {
  display:none;
}
#msg {
  position: absolute;
  width: 22vw;
  /* height: 20vh; */
  left: 59vw;
  top: 84vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  color: #ff0000;
  background: none;
}
#emailValid {
  position: absolute;
  width: 22vw;
  left: 59vw;
  top: 68vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  color: #ff0000;
  background: none;
}
@media (max-width:380px) {
  .AUTHENTICATION {
    overflow: hidden;
  }
  #pwdHead {
width: 77vw;
left: 14vw;
top: 36.7vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 0.85rem;
line-height: 20px;
letter-spacing: 0.05em;
color: #000000;
  }
  #inputBox {
    box-sizing: border-box;
    width: 73vw;
    height: 54px;
  left:13.5vw;
    top: 43vh;
    
  }
  #btnContinue {
    width: 73vw;
    height: 54px;
    top:58vh;
    left:13.5vw;
  }
  #emailIcon {
    top:45.7vh;
    left:17vw;
  }
  #Forgot{
    top:25vh;
    font-size:26px;
    left:37vw;
    line-height: 30px;
    width:50vw;
    height:20vh;
    color:black;
    font-family: "Montserrat";
  }
  #wrongemail {
    top:51vh;
    left:13.5vw;
    width:57vw;
    background:none;
  }
  #emailValid{
    width:60vw;
    left:21vw;
    top:67vh;
  }
}
@media (min-width:380px) and (max-width:950px){
  .AUTHENTICATION  {
    overflow: hidden;
  }
  #inputBox {
    position: absolute;
    width: 73vw;
    height: 55px;
    left: 14vw;
    top: 43vh;
  }
  #pwdHead {
    position: absolute;
    top: 37.5vh;
    left: 15vw;
   width: 70vw;
    font-weight: 600;
    font-size: 0.9rem;
  }
  #btnContinue {
    position: absolute;
    width: 73vw;
    height: 55px;
    left: 14vw;
    top: 56vh;
  }
  #emailIcon {
    top: 45vh;
    left: 18vw;
  }
  #wrongemail {
    top: 49.5vh;
    left: 14vw;
    width:60vw;
    font-size: 0.9rem;
    background: none;
  }
  #Forgot {
    display:block;
    width:65vw;
    height:10vh;
    left:25vw;
    top:23vh;
  }
  #emailValid{
    width:60vw;
    top:63vh;
    left:21vw;
    font-size: 1rem;
  }
}
@media (min-width:768px) and (max-width:920px) {
  #Forgot{
    top:25vh;
left:25vw;
font-size: 2.5rem;
  }
  #wrongemail{
font-size: 18px;
left:21.5vw;
top:49.4vh;
  }
  #btnContinue{
left:21.5vw;
width:63vw;
  }
  #emailIcon{
left:23vw;
top:45.1vh;
  }
  #pwdHead{
font-size: 1.3rem;
top:39.1vh;
left:21.5vw;
  }
  #inputBox{
left:21.5vw;
top:43.5vh;
padding-left: 58px;
font-size: 19px;
width:63vw;
  }
  #emailValid{
    left:32.5vw;
    top:62vh;
    font-size: 1.4rem;
  }
}
@media (min-width:540px) and (max-width:540px) {
  #wrongemail{
    top:53.5vh;
  }
  #btnContinue{
    top:62vh;
  }
  #pwdHead{
    top:40vh;
    left:14.4vw;
  }
  #emailIcon{
    left:17.1vw;
    top:48vh;
  }
  #inputBox{
    top:45.5vh;
  }
  #Forgot{
    font-size: 28px;
    line-height: 34px;
    width:40vw;
    height:12vh;
    left:34vw;
    top:25vh;
  }
  #emailValid{
    top:70vh;
    left:28vw;
  }
}
@media (min-width:280px) and (max-width:280px){
  #wrongemail{
left:15vw;
font-size: 0.8rem;
width:90vw;
top:50vh;
  }
  #btnContinue{
left:15vw;
height:7vh;
  }
  #inputBox{
    left:15vw;
    height:7vh;
padding-left: 30px;
  }
  #pwdHead{
font-size: 0.75rem;
left:16vw;
top:38vh;
line-height: 15px;
  }
  #emailIcon{
width:17px;
left:18.5vw;
top:45.1vh;
  }
  #Forgot{
    left:39vw;
    font-size: 20px;
    width:60vw;
    height:10vh;
    line-height: 20px;
  }
  #emailValid{
    left:25vw;
    top:65.5vh;
    font-size: 0.9rem;
  }
}
@media (min-width:912px) and (max-width:912px) {
  #wrongemail{
left:20.5vw;
font-size: 1.3rem;
top:50vh;
  }
  #emailValid{
font-size: 1.6rem;
top:63vh;
left:31.5vw;
  }
  #pwdHead{
    left:20.5vw;
    top:39vh;
    line-height: 25px;
    font-size: 1.6rem;
    width:65vw;
  }
  #emailIcon{
width:25px;
left:22.7vw;
top:45.7vh;
  }
  #btnContinue{
    left:20.5vw;
    height:6vh;
    font-size: 1.3rem;
  }
  #inputBox{
    left:20.5vw;
    height:6vh;
    font-size: 1.4rem;
  }
  #Forgot {
    font-size: 3rem;
    left:22.5vw;
  }
}