#updatediv {
    position: absolute;
    top: 15vh;
}

.updateWhiteDiv {
    background-color: #ffffff;
    position: absolute;
    width: 73vw;
    height: 80vh;
    left: 23vw;
    top: 26vh;
    border-radius: 15px;

}

#changepassdiv {
    position: absolute;
    width: 65vw;
    height: 13vh;
    left: 21px;
    top: 4vh;

    background: #6C63FF;
    border-radius: 8px;
}

.updateGreyRow {
    position: absolute;
    width: 69vw;
    height: 10vh;
    left: 2vw;
    top: 4vh;
    background: #6C63FF;
    border-radius: 8px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 37px;
    color: white;
    padding-top: 2vh;
}

#pre_pass {

    position: absolute;
    width: 10vw;
    height: 3vh;
    left: 21px;
    top: 20vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height */


    color: #252525;
}

#input_pre_pass {
    box-sizing: border-box;

    position: absolute;
    width: 45vw;
    height: 40px;
    left: 21px;
    top: 24vh;
    background-color: white;
    opacity: 0.48;
    border: 1px solid #000000;
    border-radius: 3px;
}
#input_new_pass{
    box-sizing: border-box;

    position: absolute;
    width: 45vw;
    height: 40px;
    left: 21px;
    top: 39vh;
    background-color: white;
    opacity: 0.48;
    border: 1px solid #000000;
    border-radius: 3px;
}
#new_pass{
    position: absolute;
    width: 10vw;
    height: 3vh;
    left: 21px;
    top: 35vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height */


    color: #252525;
}
#con_new_pass{
    position: absolute;
    width: 20vw;
    height: 3vh;
    left: 21px;
    top: 50vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height */


    color: #252525;
}
#input_con_new_pass{
    box-sizing: border-box;

    position: absolute;
    width: 45vw;
    height: 40px;
    left: 21px;
    top: 54vh;
    background-color: white;
    opacity: 0.48;
    border: 1px solid #000000;
    border-radius: 3px;
}
#change_pass{
    position: absolute;
width: 676px;
height: 40px;
left: 21px;
top: 461px;
font-size: 1rem;
color: white;
background: #6C63FF;
border-radius: 8px;
font-family: 'Montserrat';
letter-spacing: 1px;
border: none;
}
#changepass-img{
    position: absolute;
width: 257.21px;
height: 300px;
left: 748px;
top: 163px;

}
