.sideB {
    box-sizing: border-box;
position: absolute;
width: 16.5em;
height: 160vh;
background-color: #FFFFFF;
border: 1px solid #D9D9D9;
}
.edum{
    position: absolute;
    width: 15vw;
    height: 10vh;
    left: 2.5vw;
    top: 6vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #6C63FF;
    background: none;
}
.sideList {
    background:none;
    position:absolute;
    top:20vh;
    left:6vw;
    list-style: none;
}
.sideList li {
width: 13vw;
height: 29px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 29px;
background:none;
margin-bottom: 7vh;
}
.sideList li:hover {
    color:#6C63FF;
    /* fill:#6C63FF; */
}
.sidebarIcon{
    background: none;
    position:absolute;
    left:-3.5vw;
}
@media (max-width:1000px) {
 .sideB{
    display: none;
 }   
}