.sideB {
    box-sizing: border-box;
    position: absolute;
    width: 18.5vw;
    height: 160vh;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    top: 0em;
    z-index:5;
    position:fixed;
}

.edum {
    position: absolute;
    width: 15vw;
    height: 10vh;
    left: 2.5vw;
    top: 6vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: calc(2.5vw);
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #6C63FF;
    background: none;
}

.sideList {
    background: none;
    position: absolute;
    top: 20vh;
    left: 3vw;
    list-style: none;
}

.sideList li {
    width: 13vw;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1.3vw);
    line-height: 29px;
    background: none;
    margin-bottom: 7vh;
    cursor: pointer;
}

.sideList li:hover {
    color: #6C63FF;
    /* fill:#6C63FF; */
}

/* .sidebarIcon {
    z-index: 50;
    background: none;
    position:absolute;
}
.sideBarListValue{
    background: none;
    margin-left: 2.8vw;
} */
.XMark {
    display: none;
}
@media (max-width:800px) {
    .sideB{
        width:60vw;
        position:fixed;
        z-index: 99999;
        left:100%;
}
.edum{
    position: absolute;
width: 120px;
height: 29px;
left: 6vw;
top: 8vh;
font-weight: 500;
font-size: 1.65rem;
line-height: 29px;
letter-spacing: 0.05em;
}
.sideList{
    left:6vw;
    top: 18vh;
}
.sideList li{
    margin-bottom: 4vh;
}
.sideBarListValue {
    font-size: 0.9rem;
    width:120vw;
    margin-left: 10vw;
}
#navSideBarIcon:checked ~ .sideB {
    left:0;
}
.XMark{
    display: block;
    background: none;
    position:absolute;
    top:8.7vh;
    left:51vw;
    width:3.5vw;
    height:3vh;
    opacity: 0.7;
}
}