.admAttendWhiteDiv{
    background-color: #ffffff;
    margin-left:25vw;
    margin-top: 15vh;
    top:15vh;
    border-radius: 15px;
z-index:5;
padding-top:1.5vh;
padding-bottom:2vh;
    /* position:absolute; */
    box-sizing:border-box;
    width: 67vw;
    /* padding-top:5vh;height:200vh; */
height: fit-content;
}
.admGreyRow{
    width: 65vw;
    height: 9vh;
   background: rgba(217, 217, 217, 0.4);
    border-radius: 4px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 37px;
    padding-top:2vh;
    z-index:20;
    margin-top:2vh;
    margin-left:1.1vw;
}
#admStN{
    background:none;
    position:absolute;
    left:30vw;
}
#admStn{
    background:none;
    position:absolute;
    left:48vw;
}
#admAttend{
    background:none;
    position:absolute;
    left:76vw;
}
#admDeppt{
    box-sizing: border-box;
    position: absolute;
    width: 10vw;
    height: 5vh;
    top: 29vh;
    left:27vw;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
#admClass {
    box-sizing: border-box;
    position: absolute;
    width: 10vw;
    height: 5vh;
    left:38vw;
    /* margin-left: 10.3vw; */
    top: 29vh;
    padding-left: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
#admRow2{
    margin-left:1vw;
    box-sizing: border-box;
height:8vh;
border-radius: 6px 6px 4px 4px;
background: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 1.1rem;
line-height: 37px;
text-align: center;
padding-top: 1.2vh;
width:65vw;
margin-top:2vh;
background-color: rgba(238, 241, 255, 0.5);
/* margin-bott7m:1vh; */
/* background-color:black; */
}
#admSname{
    background:none;
    position:absolute;
    left:30vw;
}
#admSno{
    background:none;
    position:absolute;
    left:50vw;
}
#admSPer{
    background:none;
    position:absolute;
    left:50vw;
}
.progressAdm{
    z-index: 3;
    box-sizing: border-box;
    width:12vw;
    height:4.5vh;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    position:absolute;
   left:26vw;
}
.admAttendCall2{
    display:flex;
    flex-direction: column;
    margin-top:7vh;
    background: white;
   padding-bottom: 4vh;
}
