#inputBox {
  box-sizing: border-box;
  font-family: "Montserrat";
  position: absolute;
  width: 26vw;
  height: 6.5vh;
  left: 55vw;
  top: 48vh;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left: 7.5vh;
}

#btnContinue {
  box-sizing: border-box;
  font-size: 1.1rem;
  position: absolute;
  width: 26vw;
  height: 7vh;
  left: 55vw;
  top: 60vh;
  letter-spacing: 1px;
  background: #6c63ff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
#btnContinue:hover {
  background: #7971ff;
}

#btnContinue:active {
  transform: scale(0.99);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#wrongemail {
  position: absolute;
  width: 351px;
  height: 34px;
  left:55.5vw;
  top: 55.5vh;
  /* padding-left:6vh; */
background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  background-color: white;

  color: #ff0000;
  display: none;
}
#pwdHead {
  position: absolute;
  width: 26vw;
  top: 39vh;
  left: 55vw;
  color: black;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  background: none;
}
#emailIcon {
  background: none;
  width: 25px;
  height: 19px;
  position: absolute;
  z-index: 5;
  top: 49.7vh;
  left: 56vw;
}
@media (max-width:380px) {
  /* #edu{
    visibility: hidden;
  } */
  #pwdHead {
    position: absolute;
width: 312px;
height: 40px;
left: 15vw;
top: 31vh;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 20px;
letter-spacing: 0.05em;

color: #000000;
  }
  #inputBox {
    box-sizing: border-box;
    position: absolute;
    width: 312px;
    height: 54px;
    left:13.5vw;
    top: 37vh;
    
  }
  #btnContinue {
    position:absolute;
    width: 312px;
    height: 54px;
    top:48vh;
    left:13.5vw;
  }
  #emailIcon {
    top:39vh;
    left:18vw;
  }
  .authImage {
    visibility: visible;
    top:49vh;
    left:20vw;
  }
  .BgHead {
    top:23vh;
    font-size:33px;
    left:3.5vw;
    width:100vw;
  }
}