@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eef1ff;
  /* overflow: hidden; */
}
.backgroundMainImg{
  position:absolute;
  width:200vw;
  height:100vh; 
   background: no-repeat center fixed; 
   background-size: cover; 
   overflow: hidden;
}
.AUTHENTICATION div {
  overflow: hidden !important;
}
.circle1 {
  display: block;
  border-radius: 70%;
  width: 40vw;
  height: 80.66vh;
  position: absolute;
  top: -28vh;
  left: -25vw;
  background-color: #6c63ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.circle2 {
  display: block;
  border-radius: 80%;
  width: 44.65vw;
  height: 91vh;
  position: absolute;
  top: 37vh;
  left: 67vw;
  background-color: #6c63ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.panel1 {
  position: absolute;
  left: 11vw;
  top: 9.2vh;
  width: 39vw;
  height: 83.46vh;
  background: #aac4ff;
  border-radius: 12px 0px 0px 12px;
  z-index: 2;
}

.panel2 {
  /* z-index: 1; */
  position: absolute;
  left: 50vw;
  top: 9.2vh;
  width: 39vw;
  height: 83.46vh;
  background: #ffffff;
  border-radius: 0px 12px 12px 0px;
}
.edumate {
  position: absolute;
  width: 25vw;
  height: 6.8vh;
  left: 1.5vw;
  top: 2.5vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 38px;
  color:white;
  background: none;
}
.BgHead {
  position: absolute;
  height: 6.8vh;
  left: 54vw;
  top: 20vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: #000000;
  background: none;
}
#pumpkin {
  position: absolute;
  left: 67vw;
  top: 66vh;
  width: 30vw;
  height: 26vh;
  background: none;
}
.authImage {
  z-index: 5;
  position: absolute;
  width: 58vw;
  height: 46.36vh;
  left: 2.5vw;
  top: 26vh;
  background: none;
}
@media (max-width: 380px) {
  .AUTHENTICATION{
    overflow: hidden;
  }
  .backgroundMainImg{
    display:none;
  }
  body {
    background-color: #eef1ff;
  }
  .panel1 {
    display: none;
  }
  .panel2 {
    display: none;
  }
  .circle1 {
    display: none;
  }
  .circle2 {
    display: none;
  }
  .authImage {
    display: none;
  }
  #pumpkin {
    display: none;
  }
  .edumate {
    width:75vw;
    height:15vh;
    left: 21vw;
    top: 13vh;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 66px;
    letter-spacing: 0.05em;
    color: #6c63ff;
  }
}
@media (min-width:380px) and (max-width:950px) {
  .AUTHENTICATION{
    overflow: hidden;
  }
  .backgroundMainImg{
    display:none;
  }
  body {
    background-color: #eef1ff;
  }
  .panel1 {
    display: none;
  }
  .panel2 {
    display: none;
  }
  .circle1 {
    display: none;
  }
  .circle2 {
    display: none;
  }
  .authImage {
    display: none;
  }
  #pumpkin {
    display: none;
  }
}
@media (min-width:380px) and (max-width:819px) {
  .edumate {
    width: 75vw;
    height: 15vh;
    left: 17vw;
    top: 13vh;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.05em;
    color: #6c63ff;
  }
}
@media (min-width:768px) and (max-width:920px){
  .edumate {
    width: 75vw;
    height: 15vh;
    left: 32vw;
    top: 13vh;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 66px;
    letter-spacing: 0.05em;
    color: #6c63ff;
  }
}
@media(max-width:280px){
  .edumate {
    width:75vw;
    height:15vh;
    left: 14vw;
    top: 13vh;
    font-weight: 600;
    font-size: 40px;
    line-height: 66px;
    letter-spacing: 0.05em;
    color: #6c63ff;
  }
}
@media (min-width:540px) and (max-width:540px) {
  .edumate {
    left:29vw;
    font-size: 3rem;
  }
}
@media (min-width:912x) and (max-width:912px) {
  .edumate {
    left:32vw;
    font-size: 4.2rem;
  }
}