#dash {
    position: absolute;
    width: 25vw;
    height: 5vh;
    left: 26vw;
    top: 17vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

#background {
    position: absolute;
    width: 65vw;
    height: 130vh;
    background-color: white;
    margin-top: 31vh;
    margin-left: 26vw;
    border-radius: 15px;
}

#avatar {
    position: absolute;
    background-color: white;
    top: 9vh;
    left: 3vw;
    height: 50vh;
    width: 13vw;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #000000;

}

#heading1 {
    position: absolute;
    width: 229px;
    height: 37px;
    left: 20.5vw;
    top: 9.5vh;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    background-color: white;
    color: #000000;
}

#personalinfo {
    position: absolute;
    width: 8vw;
    font-weight: 600;
    height: 5vh;
    left: 23vw;
    top: 20.5vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;

    font-size: 1rem;
    line-height: 17px;
    /* identical to box height */


    color: #6C63FF;

}

#stu-name {
    position: absolute;
    width: 25vw;
    height: 4vh;
    left: 23vw;
    top: 28vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: white;
    color: #000000;
}

#roll {
    background-color: white;
    position: absolute;
    width: 20vw;
    height: 17px;
    left: 23vw;
    top: 35vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#adm-no {
    position: absolute;
    width: 20vw;
    height: 17px;
    left: 23vw;
    top: 42vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

#bl-gr {
    position: absolute;
    width: 10vw;
    height: 17px;
    left: 23vw;
    top: 49vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#email {
    position: absolute;
    width: 10vw;
    height: 17px;
    left: 23vw;
    top: 56vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#heading2 {
    position: absolute;
    width: 114px;
    height: 17px;
    left: 23vw;
    top: 63vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#address {
    position: absolute;
    width: 10vw;
    height: 17px;
    left: 23vw;
    top: 70vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#city {
    position: absolute;
    width: 10vw;
    height: 17px;
    left: 23vw;
    top: 77vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#state {
    position: absolute;
    width: 10vw;
    height: 17px;
    left: 23vw;
    top: 84vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#stu-phone {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 23vw;
    top: 91vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#pin {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 23vw;
    top: 98vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#heading3 {
    position: absolute;
    width: 56px;
    height: 17px;
    left: 23vw;
    top: 105vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#fat-phone {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 23vw;
    top: 112vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#mot-phone {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 23vw;
    top: 119vh;
    background-color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.profileField {
    background:none;
    border:none;
    outline:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color:black;
}
.space1 {
    position: absolute;
    top:27.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space2 {
    position: absolute;
    top:34.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}

.space3 {
    position: absolute;
    top:41.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space4{
    position: absolute;
    top:48.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space5{
    position: absolute;
    top:55.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space6{
    position: absolute;
    top:69.8vh;
    left:38vw;
    /* width:20vw; */
    background:none;
    border-bottom: 1px solid black;
}

.space7{
    position: absolute;
    top:76.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space8{
    position: absolute;
    top:83.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space9{
    position: absolute;
    top:90.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space10{
    position: absolute;
    top:97.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space11{
    position: absolute;
    top:111.8vh;
    left:38vw;
    background:none;
    border-bottom: 1px solid black;
}
.space12{
position: absolute;
top:118.8vh;
left:38vw;
background:none;
border-bottom: 1px solid black;
}
#editButton {
    position:absolute;
    top:125vh;
    left:29vw;
    width:6vw;
    padding:5px;
    background-color: rgb(18, 134, 18);
    border:1px solid black;
    border-radius: 10px;
}
#saveButton {
    position:absolute;
    top:125vh;
    left:37vw;
    width:6vw;
    padding:5px;
    background-color: rgb(197, 56, 46);
    border:1px solid black;
    border-radius: 10px;
}
#dis-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    background-color: white;

    color: #6C63FF;

}