@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eef1ff;
  overflow: hidden;
}
.circle1 {
  display: block;
  border-radius: 50%;
  width: 40vw;
  height: 80.66vh;
  position: absolute;
  top: -30vh;
  left: -45.6vh;
  background-color: #6c63ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.circle2 {
  display: block;
  border-radius: 50%;
  width: 44.65vw;
  height: 91vh;
  position: absolute;
  top: 39.5vh;
  left: 68vw;
  background-color: #6c63ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.panel1 {
  position: absolute;
  left: 11vw;
  top: 9.2vh;
  width: 39vw;
  height: 83.46vh;
  background: #aac4ff;
  border-radius: 12px 0px 0px 12px;
  z-index: 2;
}

.panel2 {
  position: absolute;
  left: 50vw;
  top:9.2vh;
  width: 39vw;
  height: 83.46vh;
  background: #ffffff;
  border-radius: 0px 12px 12px 0px;
}
.edumate {
  position: absolute;
  width: 25vw;
  height: 6.8vh;
  left: 11vw;
  top: 2.5vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 38px;
  color: #000000;
  background: none;
}
.BgHead {
  position: absolute;
  height: 6.8vh;
  left: 103vw;
  top: 20vh;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  background: none;
}
#pumpkin {
  position: absolute;
  left: 145vw;
  top: 66vh;
  width: 30vw;
  height: 26vh;
  background: none;
}
#logInImg {
  position: absolute;
  width: 59vw;
  height: 71vh;
  left:13.5vw ;
  top:15vh;
}
.authImage {
  z-index: 5;
  position:absolute;
  width:58vw;
height: 46.36vh;
left: 32vw;
top: 26vh;
  background: none;
}
